@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap');

@font-face {
  font-family: 'Arsenica';
  src: url('/font/Arsenica-Extrabold.woff2') format('woff2'),
    url('/font/Arsenica-Extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArsenicaAntiqua';
  src: url('/font/Arsenica-Antiqua-Thin.woff2') format('woff2'),
    url('/font/Arsenica-Antiqua-Thin.woff') format('woff');
  font-weight: thin;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  min-height: 100vh;
}

hr {
  border-color: #aaa;
}
