@font-face {
  font-family: 'Arsenica';
  src: url('/font/ArsenicaTrial-Extrabold.woff2') format('woff2'),
    url('/font/ArsenicaTrial-Extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#__next {
  min-height: 100vh;
}

hr {
  border-color: #aaa;
}
