on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: percy snapshot
    runs-on: ubuntu-latest
    env:
      pr_number: {{github.event.number}}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '14'
    - run: sed -i 's/%pull_request_id%/${{ github.event.number }}/g' snapshots.yml 
    - run: npx percy snapshot snapshots.yml
      env:
        PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
